[Unit]
Description=Midgley Local Dev Server Intraday Polling Timer (Every 15 Minutes, Offset at :07/:22/:37/:52)

[Timer]
OnCalendar=*:7/15
RandomizedDelaySec=120
Persistent=true

[Install]
WantedBy=timers.target

